<% layout('/layouts/boilerplate') -%>
<body>
    <div class="row mb-5 mt-3">
        <div class="col-8 offset-2">
            <form action="/listing/<%= listingData._id %>?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" id="title" name="data[title]" class="form-control" value="<%= listingData.title %>" required>
                    <div class="invalid-feedback">
                        &#9746; PLEASE ENTER THE TITLE
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="data[description]" id="description" cols="30" rows="10" class="form-control" required><%= listingData.description %></textarea>
                    <div class="invalid-feedback">
                        &#9746; PLEASE DONT'T LET THIS FIELD EMPTY
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" id="image" name="data[image]" class="form-control" value="<%= listingData.image %>" required>
                    <div class="invalid-feedback">
                        &#9746; PLEASE ENTER A VALID LINK FOR IMAGE
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" id="price" name="data[price]" class="form-control" value="<%= listingData.price %>" required>
                        <div class="invalid-feedback">
                            &#9746; MUST HAVE TO PUT PRICE
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" id="location" name="data[location]" class="form-control" value="<%= listingData.location %>" required>
                        <div class="invalid-feedback">
                            &#9746; PLEASE ENTER THE PROPER LOCATION
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" id="country" name="data[country]" class="form-control" value="<%= listingData.country %>" required>
                    <div class="invalid-feedback">
                        &#9746; PLEASE ENTER THE PROPER COUNTRY
                    </div>
                </div>
                <button type="submit" class="btn btn-dark add-btn">EDIT</button>
            </form>
        </div>
    </div>
</body>