<% layout('/layouts/boilerplate') -%>
<body>
    <h3>SHOW DATA</h3>
    <ol style="list-style-type: none;">
        <li><b>Title:</b> <%= listingData.title %></li>
        <li><b>Description:</b> <%= listingData.description %></li>
        <li><b>Image:</b> <a href="<%= listingData.image %>" target="_blank">Click</a></li>
        <li><b>Price:</b> &#x20B9;<%= listingData.price.toLocaleString('en-IN') %></li>
        <li><b>Location:</b> <%= listingData.location %></li>
        <li><b>Country:</b> <%= listingData.country %></li>
    </ol>
    <form action="/listing/<%= listingData._id %>/edit" method="get">
        <button>EDIT</button>
    </form>
    <form action="/listing/<%= listingData._id %>?_method=DELETE" method="post">
        <button>DELETE</button>
    </form>
</body>