<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row mt-3">
            <div class="card col-6 offset-3">
                <img src="<%= listingData.image %>" class="card-img-top show-image">
                <div class="card-body">
                    <p class="card-text">
                        <b>Title:</b>
                        <%= listingData.title %>
                    </p>
                    <p class="card-text">
                        <b>Description:</b>
                        <%= listingData.description %>
                    </p>
                    <p class="card-text">
                        <b>Price:</b>
                        &#x20B9;<%= listingData.price.toLocaleString('en-IN') %>
                    </p>
                    <p class="card-text">
                        <b>Location:</b>
                        <%= listingData.location %>
                    </p>
                    <p class="card-text">
                        <b>Country:</b>
                        <%= listingData.country %>
                    </p>
                </div>
                <div class="btns">
                    <form action="/listing/<%= listingData._id %>/edit" method="get">
                        <button class="btn btn-dark add-btn">EDIT</button>
                    </form>
                    <form action="/listing/<%= listingData._id %>?_method=DELETE" method="post">
                        <button class="btn btn-dark">DELETE</button>
                    </form>
                </div>
                
            </div>
        </div>
    </body>