<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row mt-3">
            <div class="listing-card col-6 offset-3">
                <h3>
                    <%= listingData.title %>
                </h3>
                <img src="<%= listingData.image %>" class="card-img-top show-image">
                <div class="card-body">
                    <p class="card-text">
                        <b>Description:</b>
                        <%= listingData.description %>
                    </p>
                    <p class="card-text">
                        <b>Price:</b>
                        &#x20B9;<%= listingData.price.toLocaleString('en-IN') %>
                    </p>
                    <p class="card-text">
                        <b>Location:</b>
                        <%= listingData.location %>
                    </p>
                    <p class="card-text">
                        <b>Country:</b>
                        <%= listingData.country %>
                    </p>
                </div>
                <div class="btns">
                    <form action="/listing/<%= listingData._id %>/edit" method="get">
                        <button class="btn btn-dark add-btn">EDIT</button>
                    </form>
                    <form action="/listing/<%= listingData._id %>?_method=DELETE" method="post">
                        <button class="btn btn-dark">DELETE</button>
                    </form>
                </div>
                <br>
                <hr>
                <br>
                <div class="card-review">
                    <h4>Leave a Review</h4>
                    <form action="/listing/<%= listingData._id %>/reviews" method="post" class="needs-validation"
                        novalidate>
                        <label for="review-range" class="form-label">Rating</label>
                        <input type="range" name="review[rating]" id="review-range" min="1" max="5" class="form-range">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px" name="review[comment]" required></textarea>
                            <label for="floatingTextarea2">Write a review</label>
                            <div class="invalid-feedback">Please add some review</div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-dark add-btn">SUBMIT</button>
                    </form>
                </div>
                <hr>
                <h4>All Reviews</h4>

                <div class="row">
                    <% for(review of listingData.reviews){ %>
                        <div class="card col-md-5 ms-2 mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"><%= review.comment %></p>
                                <p class="card-text"><%= review.rating %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </body>